@page "/your_bots"
@using Botticelli.Server.Data.Entities
@using Botticelli.Server.FrontNew.Clients
@using Botticelli.Server.FrontNew.Settings
@using Botticelli.Shared.API.Admin.Responses
@using Flurl
@using Microsoft.Extensions.Options
@using System.Net.Http.Headers
@using Botticelli.Shared.Constants
@inject NavigationManager uriHelper;
@inject IOptionsMonitor<BackSettings> backSettings;
@inject SessionClient _sessionClient;
@inject SessionClient _client;


<PageTitle>Your bots</PageTitle>

<h1>Bot list</h1>

@if (_bots == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" Gap="20px">

        @foreach (var botGroup in _bots.Chunk(5))
        {
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="40px">
                @foreach (var bot in botGroup)
                {
                    <RadzenCard Style="width: 200px">
                        <RadzenStack Gap="0" JustifyContent="JustifyContent.Center">
                            <RadzenImage Path="@GetLogo(bot.Type)" Style="width: 100px; height: 100px; align-content: center"/>
                        </RadzenStack>
                        <RadzenStack Gap="0">
                            <RadzenText TextStyle="TextStyle.Overline" Text="@bot.BotName"/>
                            <RadzenText TextStyle="TextStyle.Overline" Text="@bot.BotId"/>
                            <RadzenText TextStyle="TextStyle.Body2" Text="@GetIsAlive(bot.LastKeepAlive)"/>
                            <RadzenButton Click="@(e => SendStartStop(bot.BotId, bot.Status))" Text="Start/Stop"/>
                        </RadzenStack>
                    </RadzenCard>
                }
            </RadzenStack>
        }
    </RadzenStack>

    <RadzenButton Click="@(e => uriHelper.NavigateTo("/add_bot", true))" 
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%"
                  Text="Add bot"/>
}

@code {

    private BotInfo[]? _bots;
    HttpClient _http;

    protected override bool ShouldRender() => true;

    protected override async Task OnInitializedAsync()
    {
        var session = _sessionClient.GetSession();
        _http = HttpClientFactory.Create();
        _http.BaseAddress = new Uri(backSettings.CurrentValue.BackUrl);
        _http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", session?.Token);
        _bots = await _http.GetFromJsonAsync<BotInfo?[]>("/admin/GetBots");
    }

    protected async Task SendStartStop(string botId, BotStatus? status)
    {
        if (status != BotStatus.Active) await _http.GetAsync($"/admin/ActivateBot?botId={botId}");
        else await _http.GetAsync($"/admin/DeactivateBot?botId={botId}");

        uriHelper.NavigateTo("/your_bots", true);
    }

    private static string GetIsAlive(DateTime? lastKeepAlive)
            => DateTime.UtcNow - lastKeepAlive <= TimeSpan.FromSeconds(30) ? "Yes" : "No";


    private string GetLogo(BotType? type) => type switch
    {
            BotType.Telegram => "Logos/Telegram.png",
            BotType.WhatsApp => "Logos/Whatsapp.png",
            BotType.Viber => "Logos/Viber.png",
            BotType.RocketChat => "Logos/RocketChat.png",
            BotType.Signal => "Logos/Signal.png",
            BotType.Unknown => "Logos/Unknown.png",
            _ => "Logos/Unknown.png"
            };


    private string GetColor(BotInfo bot) => bot.Status switch
    {
            BotStatus.Active    => GetIsAlive(bot.LastKeepAlive) == "Yes" ? "green" : "gainsboro",
            BotStatus.NonActive => GetIsAlive(bot.LastKeepAlive) == "No" ? "red" : "gainsboro",
            _                   => "gray"
            };

}